.login-page {
  max-width: 350px;
  padding: 10px;
}

mat-card-title {
  margin-left: 20px;
  margin-bottom: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.error-msg {
  color: red;
}
