<form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput type="number" placeholder="Amount" formControlName="amount">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Status" formControlName="status">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Organization Code" formControlName="organizationCode">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Adhar Number" formControlName="adharNumber">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="loanDatepicker" placeholder="Loan Date" formControlName="loanDate">
    <mat-datepicker-toggle matSuffix [for]="loanDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #loanDatepicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Loan Borrower" formControlName="loanBorrower">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Loan Type</mat-label>
    <mat-select formControlName="loanType">
      <mat-option *ngFor="let type of loanTypes" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
