.content{
  display:flex;
  justify-content:space-between;
  margin-left: 4%;
  margin-right: 2%;
  margin-top: 7%;
  
  button{
    margin:11px;
  }
 }

 .lead:hover{
 background-color: white;
 color:#238ef8;
 font-size: 14.2px;
 text-shadow: 0.5px 0px #238ef8;
 /* border: #238ef8 solid 1px; */
 outline:#238ef8 solid 1px;
 transition: background-color 0.3s ease-out;
 box-shadow: 1px 1px 5px 0.1px #238ef8;
 }
 
 .spinner-container {
  position: absolute;
  top: 30%;
  left: 36%;
  /* right: 40; */
  bottom: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  text-align: center;
  z-index: 10;
}

@media print{
  .content{
    visibility:hidden;
    display: none;
  }
  .leadhide{
    visibility:hidden;
    display: none;
  }
}