.form-container {
  margin: 0 auto;
  /* Center the form horizontally */
  max-width: 800px;
  /* Adjust the maximum width of the form container */
  margin-top: 8%;
}

.grid-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  ;
}

.grid-form-row {
  display: flex;
  flex-direction: row;
}

.grid-form-field {
  margin-right: 10px;
  /* Adjust spacing between fields */
  flex-grow: 1;
  /* Allow fields to grow to fill available space */
}

.error-message {
  color: red;
}
