.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input-container mat-icon {
  margin-right: 8px;
}

.filename {
  margin-bottom: 16px;
}

.upload-button {
  width: 10%;
  min-width: 100px; /* Adjust the minimum width as needed */
}

.error-tooltip{
  color:red;
}


.form-control{
  width:100%;
}
