

.course-card {
    margin: 20px 10px;
}

.course-actions {
    display: flex;
    justify-content: center;
}

.course-actions button {
  margin-right: 5px;
}

.tableOptions{
  display:flex;
  justfy-content: center;
  mat-checkbox{
    margin-top:5px;
  }
  .form-control{
    margin-right:5px;
  }
}
