<div class="loanclass">
  <!-- head section -->
  <div class="tableprint">
    <div class="tableOptions">
      <button mat-icon-button color="warn" (click)="addLoan()">
        <mat-icon class="addicon">add</mat-icon>
      </button>
      <div class="form-control">
        <mat-form-field appearance="outline">
          <mat-label>Search....</mat-label>
          <input
            matInput
            placeholder="Type here...."
            (keyup)="applyFilter($event)"
          />
        </mat-form-field>
      </div>  
  </div>
  <div class="spinner-container" *ngIf="loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
    <!-- table data -->
  <div class="tablestylesclass mat-elevation-z8" matSort (matSortChange)="announceSortChange($event)">
    <!-- date -->
    <table mat-table [dataSource]="dataSource" >
      <ng-container matColumnDef="loanDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="loanDate" sortActionDescription="Sort by loanDate">Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.loanDate | date: "mediumDate" }}
        </td>
      </ng-container>
      <!-- Adhar -->
      <ng-container matColumnDef="adharNumber">
        <th mat-header-cell *matHeaderCellDef>Adhar</th>
        <td mat-cell *matCellDef="let element">{{ element.adharNumber }}</td>
      </ng-container>
      <!-- amount -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">
          {{ element.amount | currency: "INR" }}
        </td>
      </ng-container>
      <!-- Borrower -->
      <ng-container matColumnDef="loanBorrower">
        <th mat-header-cell *matHeaderCellDef>Borrower</th>
        <td mat-cell *matCellDef="let element" class="loanborrower">{{ element.loanBorrower }}</td>
      </ng-container>
      <!-- Repayment -->
      <ng-container matColumnDef="repaymentStatus">
        <th mat-header-cell *matHeaderCellDef>Repayment</th>
        <td mat-cell *matCellDef="let element">
          <div [ngStyle]="{'color': element.repaymentStatus === 'Poor' ? '#ff3e1d' : '#049e32', 'font-weight':'595', 'font-size':'medium', 'display':'flex','align-items':'center', 'justify-content': 'space-between'}">
               {{ element.repaymentStatus || 'Healthy' }}
          
               <button mat-icon-button class="eyeclass"
               [matTooltip]="element.remarks"
               matTooltipPosition="above">
               <mat-icon [style]="{'color':'black','font-size':'16px'}" matTooltip="">
               visibility
               </mat-icon>
               </button>
          </div>
        </td>
      </ng-container>
    <!-- Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <span [ngClass]="getStatusClass(element.status)"> &#9679; {{ element.status }}</span>   
        </td>
     </ng-container>
      <!-- loantype -->
      <ng-container matColumnDef="loanType">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">
          <div [ngStyle]="{'font-size':'medium', 'display':'flex','align-items':'center', 'justify-content':'space-between'}">
            {{element.loanType}}
       
            <ng-container *ngIf="element.loanType === 'Mortgage Loan' || element.loanType === 'Vehicle Loan'">
              <button mat-icon-button class="infoclass"
                      [matTooltip]="element.loanType === 'Mortgage Loan' ? element.securityreports : element['vehicalno/rcno']"
                      matTooltipPosition="above">
                <mat-icon [style]="{'color':'black','font-size':'16px'}">
                  info
                </mat-icon>
              </button>
            </ng-container>
       </div>      
      </td>
      </ng-container>
      <ng-container matColumnDef="organizationName">
        <th mat-header-cell *matHeaderCellDef>Society</th>
        <td mat-cell *matCellDef="let element">{{ element.organizationName }}</td>
      </ng-container>
      <!-- editbutton -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            [disabled]=
            "(userDetails$ | async)?.organizationCode !== element.organizationCode"
            (click)="editLoan(element)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons=""></mat-paginator>
  </div>
 
</div>
<div *ngIf="!dataSource.data || dataSource.data?.length<=0"> <p>No records found</p> </div>