
<div class="resetpsclass">
  <div>
    <form [formGroup]="resetForm" (ngSubmit)="onSave()">
      <div class="form-control">
        <mat-form-field appearance="outline">
          <mat-label>Current Password </mat-label>
          <input
            matInput
            type="number"
            placeholder=""
            formControlName="currentPassword"
          />
        </mat-form-field>
        <error-tooltip
          *ngIf="
            resetForm.controls['currentPassword'].touched ||
            resetForm.controls['currentPassword'].dirty
          "
          [errors]="resetForm.controls['currentPassword'].errors"
        ></error-tooltip>
      </div>
      <div class="form-control">
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput formControlName="newPassword" placeholder="***********"/>
        </mat-form-field>
        <error-tooltip
          *ngIf="
            resetForm.controls['newPassword'].touched ||
            resetForm.controls['newPassword'].dirty
          "
          [errors]="resetForm.controls['newPassword'].errors"
        ></error-tooltip>
      </div>
      <div class="form-control">
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" placeholder="***********" />
        </mat-form-field>
        <error-tooltip
          *ngIf="
            resetForm.controls['confirmPassword'].touched ||
            resetForm.controls['confirmPassword'].dirty
          "
          [errors]="resetForm.controls['confirmPassword'].errors"
        ></error-tooltip>
      </div>
    </form>
    <button
      mat-raised-button
      color="primary"
      (click)="onSave()"
      [disabled]="resetForm.invalid"
    >
      Submit
    </button>
    
  </div>
</div>