.resetpsclass{
  height: 80vh; 
  display: flex; justify-content: center;
  align-items: center;
  border: 2px solid #03a4ed;
  background-color: #c1e6f834;
  box-shadow: 0.2px 0.2px 1px blue;
  transition: transform 1s ease, box-shadow 1s ease; /* Apply transition to transform and background-color */

}

form{ width: 80%;
 display: grid;
 grid-template-rows: 1fr 1fr 1fr 1fr;
 gap: 5%;
 align-content: center;
 justify-items: center;

}

.form-control{
  width: 150%;
}

button{
  width: 60%; float: right;
}
