<form [formGroup]="loanForm" (ngSubmit)="onSave()">
  <div class="form-control">
    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input matInput type="number" placeholder="Ex. 123" formControlName="amount" />
    </mat-form-field>
    <error-tooltip *ngIf="
          loanForm.controls['amount'].touched ||
          loanForm.controls['amount'].dirty
        " [errors]="loanForm.controls['amount'].errors"></error-tooltip>
  </div>
  <div class="form-control">
    <mat-form-field appearance="outline">
      <mat-label>Loan Type</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let type of loanStatuType" [value]="type">{{
          type
          }}</mat-option>
      </mat-select>
    </mat-form-field>
    <error-tooltip *ngIf="
          loanForm.controls['status'].touched ||
          loanForm.controls['status'].dirty
        " [errors]="loanForm.controls['status'].errors"></error-tooltip>
  </div>
  <div class="form-control">
    <mat-form-field appearance="outline">
      <mat-label>Adhar Number</mat-label>
      <input matInput formControlName="adharNumber" />
    </mat-form-field>
    <error-tooltip *ngIf="
          loanForm.controls['adharNumber'].touched ||
          loanForm.controls['adharNumber'].dirty
        " [errors]="loanForm.controls['adharNumber'].errors"></error-tooltip>
  </div>
</form>
<button mat-raised-button color="primary" (click)="onSave()" [disabled]="loanForm.invalid">
  Save
</button>
