<div class="resetpsclass">
  <div>
    <form [formGroup]="resetForm">
      <div class="form-control">
        <mat-form-field appearance="outline">
          <mat-label>Current Password </mat-label>
          <input matInput type="password" placeholder="" formControlName="password" />
        </mat-form-field>
        <error-tooltip *ngIf="
            resetForm.controls['password'].touched ||
            resetForm.controls['password'].dirty
          " [errors]="resetForm.controls['password'].errors"></error-tooltip>
      </div>
      <div class="form-control">
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="newPassword" placeholder="***********" />
        </mat-form-field>
        <error-tooltip *ngIf="
            resetForm.controls['newPassword'].touched ||
            resetForm.controls['newPassword'].dirty
          " [errors]="resetForm.controls['newPassword'].errors"></error-tooltip>
      </div>
      <div class="form-control">
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" placeholder="***********" />
        </mat-form-field>
        <error-tooltip *ngIf="
            resetForm.controls['confirmPassword'].touched ||
            resetForm.controls['confirmPassword'].dirty
          " [errors]="resetForm.controls['confirmPassword'].errors"></error-tooltip>
      </div>
    </form>
    <button mat-raised-button type="button" color="primary" (click)="resetPassword()" [disabled]="resetForm.invalid">
      Submit
    </button>
    <div>{{userMessage}}</div>
  </div>
</div>
