.resetpsclass {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  width: 100%; 
  max-width: 500px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
}
error-tooltip{
  margin-bottom:30px;
}
legend{
font-size: 1.3em;
color:#03a4ed;
}
fieldset{
  border-color: #03a4ed;
  padding-block-start: 0.65em;
  padding-inline-start: 0.95em;
  padding-inline-end: 0.95em;
  padding-block-end: 0.825em;
}
@media (max-width: 600px) {
  .parent {
    max-width: 90%;
  }
}
