
.dialog-actions{
  justify-content:center;
}

.success-msg{
  color:green;
}

.error-msg{
  color:green;
}

.dialog-header{
  display:flex;
}

.success-snackbar{
  color:green;
}

.error-snackbar{
  color:#0ba6ed8d;
}
