<div class="formbody">
  <div>
    <h2 mat-dialog-title>
      <span [style]="{'font-size': '1.2em', 'color':'#03a4ed'}">{{ this.mode == "create" ? "Create" : "Update" }}</span>
      <span [style]="{'font-size': '1em', 'color':'#0ba6ed8d'}">Loan</span>
    </h2>
  </div>
  <div>
    <h3 *ngIf="dialogSaveStatus$ | async" style="color: green">
      Saved Successfully
    </h3>
    <h3 *ngIf="(dialogSaveStatus$ | async) === false" style="color: red">
      Error while Saving
    </h3>
  </div>
</div>
<mat-dialog-content>
  <form [formGroup]="loanForm" (ngSubmit)="onSave()">
    <div class="form-control">
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ex. 123"
          formControlName="amount"
          min="0" max="10000000"
        />
      </mat-form-field>
      <error-tooltip
        *ngIf="
          loanForm.controls['amount'].touched ||
          loanForm.controls['amount'].dirty
        "
        [errors]="loanForm.controls['amount'].errors"
      ></error-tooltip>
    </div>
    <div class="form-control">
      <mat-form-field appearance="outline">
        <mat-label>Loan Type</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let type of loanStatuType" [value]="type">{{
            type
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <error-tooltip
        *ngIf="
          loanForm.controls['status'].touched ||
          loanForm.controls['status'].dirty
        "
        [errors]="loanForm.controls['status'].errors"
      ></error-tooltip>
    </div>
    <div class="form-control">
      <mat-form-field appearance="outline">
        <mat-label>Adhar Number</mat-label>
        <input matInput formControlName="adharNumber" />
      </mat-form-field>
      <error-tooltip
        *ngIf="
          loanForm.controls['adharNumber'].touched ||
          loanForm.controls['adharNumber'].dirty
        "
        [errors]="loanForm.controls['adharNumber'].errors"
      ></error-tooltip>
    </div>
    <div class="form-control">
      <mat-form-field appearance="outline">
        <mat-label>Loan Date</mat-label>
        <input
          matInput
          [matDatepicker]="loanDatepicker"
          formControlName="loanDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="loanDatepicker" style="color: blue;"
        ></mat-datepicker-toggle>
        <mat-datepicker #loanDatepicker></mat-datepicker>
      </mat-form-field>
      <error-tooltip
        *ngIf="
          loanForm.controls['loanDate'].touched ||
          loanForm.controls['loanDate'].dirty
        "
        [errors]="loanForm.controls['loanDate'].errors"
      ></error-tooltip>
    </div>
    <div class="form-control">
      <mat-form-field appearance="outline">
        <mat-label>Loan Borrower</mat-label>
        <input matInput formControlName="loanBorrower" />
      </mat-form-field>
      <error-tooltip
        *ngIf="
          loanForm.controls['loanBorrower'].touched ||
          loanForm.controls['loanBorrower'].dirty
        "
        [errors]="loanForm.controls['loanBorrower'].errors"
      ></error-tooltip>
    </div>
    <div class="form-control">
      <mat-form-field appearance="outline">
        <mat-label>Loan Type</mat-label>
        <mat-select formControlName="loanType">
          <mat-option *ngFor="let type of loanTypes" [value]="type">{{
            type
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <error-tooltip
        *ngIf="
          loanForm.controls['loanType'].touched ||
          loanForm.controls['loanType'].dirty
        "
        [errors]="loanForm.controls['loanType'].errors"
      ></error-tooltip>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">

    <button class="savebtn"
    mat-raised-button
    color="primary"
    (click)="onSave()"
    [disabled]="loanForm.invalid"
  >
    Save
  </button>

</mat-dialog-actions>