<div class="formbody">
  <div>
    <h2 mat-dialog-title>
      <span [style]="{'font-size': '1.2em', 'color':'#03a4ed'}">{{ this.mode == "create" ? "Create" : "Update" }}</span>
      <span [style]="{'font-size': '1em', 'color':'#0ba6ed8d'}">Loan</span>
    </h2>
  </div>
  <div>
    <h3 *ngIf="dialogSaveStatus$ | async" style="color: green">
      Saved Successfully
    </h3>
    <h3 *ngIf="(dialogSaveStatus$ | async) === false" style="color: red">
      Error while Saving
    </h3>
  </div>
</div>
<mat-dialog-content>
  <form [formGroup]="loanForm" (ngSubmit)="onSave()">
    <div class="form-control">
      <mat-form-field appearance="outline">
        <mat-label>Loan Date</mat-label>
        <input
          matInput
          [matDatepicker]="loanDatepicker"
          formControlName="loanDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="loanDatepicker" style="color: blue;"
        ></mat-datepicker-toggle>
        <mat-datepicker #loanDatepicker></mat-datepicker>
      </mat-form-field>
      <div class="err" *ngIf="loanForm.controls['loanDate'].invalid && (loanForm.controls['loanDate'].dirty || loanForm.controls['loanDate'].touched)">
        <div class="errormsg" *ngIf="loanForm.controls['loanDate'].hasError('required')" >Date required</div >
      </div>
    </div>
    <div class="form-control">
      <mat-form-field appearance="outline">
        <mat-label>Adhar Number</mat-label>
        <input matInput formControlName="adharNumber" (keypress)="numericOnly($event)"  />
      </mat-form-field>
      <div class="err" *ngIf="loanForm.get('adharNumber').invalid && (loanForm.get('adharNumber').dirty || loanForm.get('adharNumber').touched)">
        <div class="errormsg" *ngIf="loanForm.get('adharNumber').hasError('required'); " >Aadhar required</div >
        <div class="errormsg" *ngIf="loanForm.get('adharNumber').hasError('pattern')" >Not a valid Adhar number</div >
      </div>
    </div>
    <div class="form-control">
      <mat-form-field appearance="outline">
        <mat-label>Borrower</mat-label>
        <input matInput formControlName="loanBorrower" />
      </mat-form-field>
      <div class="err" *ngIf="loanForm.get('loanBorrower').invalid && (loanForm.get('loanBorrower').dirty || loanForm.get('loanBorrower').touched)">
        <div class="errormsg" *ngIf="loanForm.get('loanBorrower').hasError('required')"  >Name required</div >
        <div class="errormsg" *ngIf="!loanForm.get('loanBorrower').hasError('required') && loanForm.get('loanBorrower').hasError('pattern')"  >Not a valid name</div >
        <div class="errormsg" *ngIf="!loanForm.get('loanBorrower').hasError('pattern') && loanForm.get('loanBorrower').hasError('maxlength') " >Names too long</div >
      </div>
    </div>
    <div class="form-control">
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select formControlName="loanType">
          <mat-option *ngFor="let type of loanTypes" [value]="type">{{
            type
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="err" *ngIf="loanForm.get('loanType').invalid && (loanForm.get('loanType').dirty || loanForm.get('loanType').touched)">
        <div class="errormsg" *ngIf="loanForm.get('loanType').hasError('required'); " >Loan type required</div >
      </div>
    </div>
    <div class="form-control">
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ex. 123"
          formControlName="amount"
          min="0" max="10000000"
        />
      </mat-form-field>
      <div class="err" *ngIf="loanForm.get('amount').invalid && (loanForm.get('amount').dirty || loanForm.get('amount').touched)">
        <div class="errormsg" *ngIf="loanForm.get('amount').hasError('required'); " >Amount required</div >
        <div class="errormsg" *ngIf="loanForm.get('amount').hasError('pattern')" >Invalid amount range </div >
      </div>
      </div>
    <div class="form-control">
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let type of loanStatuType" [value]="type">{{
            type
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="err" *ngIf="loanForm.get('status').invalid && (loanForm.get('status').dirty || loanForm.get('status').touched)">
        <div class="errormsg" *ngIf="loanForm.get('status').hasError('required'); " >Status required</div>
      </div>
    </div>
    <ng-container *ngIf="mode==='update'">
      <mat-form-field class="example-full-width">
        <mat-label>Note</mat-label>
        <textarea formControlName="remarks" matInput placeholder=""></textarea>
      </mat-form-field>
     </ng-container>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">

    <button class="savebtn"
    mat-raised-button
   
    color="primary"
    (click)="onSave()"
    [disabled]="loanForm.invalid"
  >
    {{btnname}}
  </button>
  <div class="successmsg" *ngIf="result">{{result}} </div>
</mat-dialog-actions>