
>>> body {
    margin: 0;
}

main {
    margin: 30px;
}

.menu-button {
    background: rgba(255, 170, 0, 0.76);
    color: white;
    border: none;
    cursor:pointer;
    outline:none;
}

.content {
  padding: 10px;
}

.toolbar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right:15px;
  image {
    width:10% !important;
  }
}

.spacer {
  flex-grow: 1;
}


.org-name>p{
    margin-left : 10px;
}

.list-item-content {
  display: flex;
  align-items: center;
}

