
>>> body {
  margin: 0;
}

mat-toolbar{background-color: #03a4ed;}
mat-toolbar{background-color: #03a4ed;}

.menu-button {
    background-color: white;
    color:  #03a4ed;
    border: none;
    cursor:pointer;
    outline:none;
    border-radius: 2px;
}

.content {
  padding: 10px;
}

.orgname{
  color: white;
  text-shadow: 0px 0.5px 1px  white;
  padding-left: 10px;
}

.orgname{
color: white;
text-shadow: 0px 0.5px 1px  white;
padding-left: 10px;
}

.toolbar-content {
  display: flex;
  justify-content: space-between;
  padding-right:15px;
  padding-left:15px;
  img {
    width:7% !important;
  }
}

.spacer {
flex-grow: 1;
}


.org-name>p{
  margin-left : 10px;
}

.list-item-content {
display: flex;
align-items: center;
}

mat-toolbar p1{
  margin-left: 5px;
}
