
>>> body {
    margin: 0;
}

main {
    margin: 30px;
}

.menu-button {
    background-color: white;
    color:  #03a4ed;
    border: none;
    cursor:pointer;
    outline:none;
    border-radius: 2px;
}

.content {
  padding: 10px;
}

.toolbar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right:15px;
  image {
    width:10% !important;
  }
}

.spacer {
  flex-grow: 1;
}


.org-name>p{
    margin-left : 10px;
}

.list-item-content {
  display: flex;
  align-items: center;
}

mat-toolbar p1{
  margin-left: 5px;
}